@import "tailwindcss";


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    color-scheme: light dark;
    --color-primary: 59 130 246;
    --color-primary-dark: 30 64 175;
  }
  
  body {
    @apply bg-white dark:bg-gray-950 text-gray-900 dark:text-gray-50;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}